finance-oraculo-backend/n8n-workflows/whatsapp-bot-v3-ultra-optimized.json.clean
{
  "name": "WhatsApp Bot v3 - Ultra Otimizado (80% sem LLM)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp-bot-v3",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook - Mensagem Recebida",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        240,
        300
      ],
      "webhookId": "whatsapp-bot-v3"
    },
    {
      "parameters": {
        "functionCode": "// Extrair dados da mensagem\nconst body = $input.item.json.body || $input.item.json;\nconst message = body.data?.message?.conversation || body.data?.message?.extendedTextMessage?.text || '';\nconst phone = body.data?.key?.remoteJid || '';\nconst cnpj = body.cnpj || '';\n\n// Validar entrada\nif (!message || !phone || !cnpj) {\n  throw new Error('Mensagem, telefone ou CNPJ ausente');\n}\n\nreturn {\n  message: message.toLowerCase().trim(),\n  message_original: message,\n  phone,\n  cnpj,\n  timestamp: new Date().toISOString()\n};"
      },
      "id": "parse-input",
      "name": "Function - Parse Input",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id FROM conversations WHERE phone_number = '{{ $json.phone }}' AND company_cnpj = '{{ $json.cnpj }}' ORDER BY created_at DESC LIMIT 1;",
        "additionalFields": {}
      },
      "id": "get-conversation",
      "name": "PostgreSQL - Buscar Conversação",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        680,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "eWdwRJii0F6jKHdU",
          "name": "Supabase PostgreSQL Finance"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.length }}",
              "operation": "equal",
              "value2": 0
            }
          ]
        }
      },
      "id": "check-conversation-exists",
      "name": "If - Conversação Existe?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "operation": "insert",
        "schema": "public",
        "table": "conversations",
        "columns": "phone_number, company_cnpj, status",
        "additionalFields": {}
      },
      "id": "create-conversation",
      "name": "PostgreSQL - Criar Conversação",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        1120,
        200
      ],
      "credentials": {
        "postgres": {
          "id": "eWdwRJii0F6jKHdU",
          "name": "Supabase PostgreSQL Finance"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "// Detectar tipo de pergunta\nconst message = $input.first().json.message;\n\n// Keywords para perguntas SIMPLES (não precisa LLM)\nconst simplePatterns = {\n  saldo: ['saldo', 'caixa', 'quanto tenho', 'total caixa'],\n  disponivel: ['disponível', 'disponivel', 'posso gastar', 'livre'],\n  despesas: ['despesa', 'gasto', 'custo', 'saída', 'paguei'],\n  receitas: ['receita', 'faturamento', 'venda', 'entrada', 'recebi'],\n  faturas_vencidas: ['fatura vencida', 'vencida', 'atrasada', 'pendente'],\n  runway: ['runway', 'dias de caixa', 'quanto tempo', 'quantos dias'],\n  margem: ['margem', 'lucro líquido', 'lucratividade'],\n  dso: ['dso', 'prazo recebimento', 'dias receber'],\n  dpo: ['dpo', 'prazo pagamento', 'dias pagar']\n};\n\n// Keywords para perguntas de CÁLCULO (não precisa LLM, só SQL)\nconst calcKeywords = [\n  'compare', 'comparar', 'diferença', 'variação',\n  'cresceu', 'caiu', 'aumentou', 'diminuiu',\n  'quanto mais', 'quanto menos', 'percentual'\n];\n\n// Keywords para perguntas COMPLEXAS (precisa LLM)\nconst complexKeywords = [\n  'analise', 'analisar', 'análise',\n  'recomenda', 'recomendação', 'sugira', 'sugestão',\n  'estratégia', 'estratégico', 'insight',\n  'por que', 'porque', 'explique', 'como melhorar'\n];\n\n// Detectar tipo simples\nfor (const [type, keywords] of Object.entries(simplePatterns)) {\n  if (keywords.some(kw => message.includes(kw))) {\n    return {\n      type: 'simple',\n      query_type: type,\n      message,\n      cnpj: $input.first().json.cnpj,\n      phone: $input.first().json.phone,\n      conversation_id: $input.all()[1].json[0]?.id || null\n    };\n  }\n}\n\n// Detectar tipo cálculo\nif (calcKeywords.some(kw => message.includes(kw))) {\n  return {\n    type: 'calculation',\n    message,\n    cnpj: $input.first().json.cnpj,\n    phone: $input.first().json.phone,\n    conversation_id: $input.all()[1].json[0]?.id || null\n  };\n}\n\n// Detectar tipo complexo\nif (complexKeywords.some(kw => message.includes(kw))) {\n  return {\n    type: 'complex',\n    message,\n    cnpj: $input.first().json.cnpj,\n    phone: $input.first().json.phone,\n    conversation_id: $input.all()[1].json[0]?.id || null\n  };\n}\n\n// Default: complexo (vai para LLM)\nreturn {\n  type: 'complex',\n  message,\n  cnpj: $input.first().json.cnpj,\n  phone: $input.first().json.phone,\n  conversation_id: $input.all()[1].json[0]?.id || null\n};"
      },
      "id": "detect-query-type",
      "name": "Function - Detectar Tipo de Pergunta",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        1340,
        300
      ]
    },
    {
      "parameters": {
        "options": {},
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "simple",
              "leftValue": "={{ $json.type }}",
              "rightValue": "simple",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "calculation",
              "leftValue": "={{ $json.type }}",
              "rightValue": "calculation",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "complex",
              "leftValue": "={{ $json.type }}",
              "rightValue": "complex",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        },
        "fallbackOutput": "extra"
      },
      "id": "switch-simple",
      "name": "Switch - Tipo de Query",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        1560,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Query baseada no tipo\n{% if $json.query_type == 'saldo' %}\nSELECT\n  cash_balance,\n  snapshot_date\nFROM daily_snapshots\nWHERE company_cnpj = '{{ $json.cnpj }}'\nORDER BY snapshot_date DESC\nLIMIT 1;\n\n{% elif $json.query_type == 'disponivel' %}\nSELECT\n  available_balance,\n  snapshot_date\nFROM daily_snapshots\nWHERE company_cnpj = '{{ $json.cnpj }}'\nORDER BY snapshot_date DESC\nLIMIT 1;\n\n{% elif $json.query_type == 'despesas' %}\nSELECT\n  total_expenses,\n  month\nFROM v_kpi_monthly_enriched\nWHERE company_cnpj = '{{ $json.cnpj }}'\nORDER BY month DESC\nLIMIT 1;\n\n{% elif $json.query_type == 'receitas' %}\nSELECT\n  total_revenue,\n  month\nFROM v_kpi_monthly_enriched\nWHERE company_cnpj = '{{ $json.cnpj }}'\nORDER BY month DESC\nLIMIT 1;\n\n{% elif $json.query_type == 'faturas_vencidas' %}\nSELECT\n  COUNT(*) as qtd_vencidas,\n  SUM(total_value) as total_vencido\nFROM omie_invoices\nWHERE company_cnpj = '{{ $json.cnpj }}'\n  AND status = 'overdue';\n\n{% elif $json.query_type == 'runway' %}\nSELECT\n  runway_days,\n  burn_rate_monthly\nFROM v_kpi_monthly_enriched\nWHERE company_cnpj = '{{ $json.cnpj }}'\nORDER BY month DESC\nLIMIT 1;\n\n{% elif $json.query_type == 'margem' %}\nSELECT\n  gross_margin,\n  month\nFROM v_kpi_monthly_enriched\nWHERE company_cnpj = '{{ $json.cnpj }}'\nORDER BY month DESC\nLIMIT 1;\n\n{% elif $json.query_type == 'dso' %}\nSELECT\n  dso_days,\n  month\nFROM v_kpi_monthly_enriched\nWHERE company_cnpj = '{{ $json.cnpj }}'\nORDER BY month DESC\nLIMIT 1;\n\n{% elif $json.query_type == 'dpo' %}\nSELECT\n  dpo_days,\n  month\nFROM v_kpi_monthly_enriched\nWHERE company_cnpj = '{{ $json.cnpj }}'\nORDER BY month DESC\nLIMIT 1;\n\n{% else %}\nSELECT 'error' as result;\n{% endif %}",
        "additionalFields": {}
      },
      "id": "query-simple",
      "name": "PostgreSQL - Query Simples",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        1780,
        200
      ],
      "credentials": {
        "postgres": {
          "id": "eWdwRJii0F6jKHdU",
          "name": "Supabase PostgreSQL Finance"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "// Formatar resposta simples (SEM LLM!)\nconst queryType = $input.item.json.query_type;\nconst data = $input.all()[1].json[0];\n\nconst formatMoney = (value) => {\n  if (!value && value !== 0) return 'R$ 0,00';\n  return new Intl.NumberFormat('pt-BR', { \n    style: 'currency', \n    currency: 'BRL' \n  }).format(value);\n};\n\nconst formatDate = (date) => {\n  if (!date) return '';\n  return new Date(date).toLocaleDateString('pt-BR');\n};\n\nconst formatPercent = (value) => {\n  if (!value && value !== 0) return '0%';\n  return `${(value * 100).toFixed(1)}%`;\n};\n\nconst templates = {\n  saldo: `💰 *Seu Saldo Total*\\n\\n📊 *Caixa:* ${formatMoney(data.cash_balance)}\\n📅 Atualizado em ${formatDate(data.snapshot_date)}`,\n  \n  disponivel: `💸 *Saldo Disponível*\\n\\n💵 *Disponível:* ${formatMoney(data.available_balance)}\\n📅 Atualizado em ${formatDate(data.snapshot_date)}`,\n  \n  despesas: `📉 *Despesas do Mês*\\n\\n💳 *Total:* ${formatMoney(data.total_expenses)}\\n📆 Referência: ${formatDate(data.month)}`,\n  \n  receitas: `📈 *Receitas do Mês*\\n\\n💵 *Total:* ${formatMoney(data.total_revenue)}\\n📆 Referência: ${formatDate(data.month)}`,\n  \n  faturas_vencidas: `⚠️ *Faturas Vencidas*\\n\\n📋 *Quantidade:* ${data.qtd_vencidas || 0}\\n💰 *Total:* ${formatMoney(data.total_vencido)}\\n\\n${(data.qtd_vencidas || 0) > 0 ? '🔴 Atenção necessária!' : '✅ Tudo em dia!'}`,\n  \n  runway: `⏱️ *Runway (Dias de Caixa)*\\n\\n📊 *Dias:* ${data.runway_days || 0}\\n🔥 *Burn Rate:* ${formatMoney(data.burn_rate_monthly)}/mês\\n\\n${(data.runway_days || 0) < 90 ? '⚠️ Atenção: Menos de 3 meses!' : '✅ Situação confortável'}`,\n  \n  margem: `💹 *Margem Bruta*\\n\\n📊 *Margem:* ${formatPercent(data.gross_margin)}\\n📆 Referência: ${formatDate(data.month)}`,\n  \n  dso: `⏰ *DSO (Days Sales Outstanding)*\\n\\n📊 *Prazo médio de recebimento:* ${data.dso_days || 0} dias\\n📆 Referência: ${formatDate(data.month)}`,\n  \n  dpo: `⏰ *DPO (Days Payable Outstanding)*\\n\\n📊 *Prazo médio de pagamento:* ${data.dpo_days || 0} dias\\n📆 Referência: ${formatDate(data.month)}`\n};\n\nreturn {\n  response_text: templates[queryType] || 'Dados não encontrados',\n  query_type: queryType,\n  cost_usd: 0, // GRÁTIS! Sem LLM!\n  model_used: 'direct_sql',\n  latency_ms: Date.now() - new Date($input.item.json.timestamp).getTime(),\n  phone: $input.item.json.phone,\n  cnpj: $input.item.json.cnpj,\n  conversation_id: $input.item.json.conversation_id\n};"
      },
      "id": "format-simple-response",
      "name": "Function - Formatar Resposta Simples",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        2000,
        200
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Query de cálculo (comparações, variações)\nSELECT\n  k1.month as mes_atual,\n  k1.total_revenue as receita_atual,\n  k1.total_expenses as despesa_atual,\n  k2.month as mes_anterior,\n  k2.total_revenue as receita_anterior,\n  k2.total_expenses as despesa_anterior,\n  ((k1.total_revenue - k2.total_revenue) / NULLIF(k2.total_revenue, 0)) * 100 as var_receita_pct,\n  ((k1.total_expenses - k2.total_expenses) / NULLIF(k2.total_expenses, 0)) * 100 as var_despesa_pct\nFROM v_kpi_monthly_enriched k1\nLEFT JOIN v_kpi_monthly_enriched k2 \n  ON k2.company_cnpj = k1.company_cnpj \n  AND k2.month = k1.month - INTERVAL '1 month'\nWHERE k1.company_cnpj = '{{ $json.cnpj }}'\nORDER BY k1.month DESC\nLIMIT 1;",
        "additionalFields": {}
      },
      "id": "query-calculation",
      "name": "PostgreSQL - Query Cálculo",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        1780,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "eWdwRJii0F6jKHdU",
          "name": "Supabase PostgreSQL Finance"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "// Formatar resposta de cálculo (SEM LLM!)\nconst data = $input.all()[1].json[0];\n\nconst formatMoney = (value) => {\n  if (!value && value !== 0) return 'R$ 0,00';\n  return new Intl.NumberFormat('pt-BR', { \n    style: 'currency', \n    currency: 'BRL' \n  }).format(value);\n};\n\nconst formatPercent = (value) => {\n  if (!value && value !== 0) return '0%';\n  const sign = value > 0 ? '+' : '';\n  return `${sign}${value.toFixed(1)}%`;\n};\n\nconst formatDate = (date) => {\n  if (!date) return '';\n  return new Date(date).toLocaleDateString('pt-BR', { month: 'long', year: 'numeric' });\n};\n\nconst response = `📊 *Comparação de Períodos*\\n\\n` +\n  `**${formatDate(data.mes_atual)}**\\n` +\n  `📈 Receitas: ${formatMoney(data.receita_atual)}\\n` +\n  `📉 Despesas: ${formatMoney(data.despesa_atual)}\\n\\n` +\n  `**${formatDate(data.mes_anterior)}**\\n` +\n  `📈 Receitas: ${formatMoney(data.receita_anterior)}\\n` +\n  `📉 Despesas: ${formatMoney(data.despesa_anterior)}\\n\\n` +\n  `**Variação**\\n` +\n  `${data.var_receita_pct > 0 ? '📈' : '📉'} Receitas: ${formatPercent(data.var_receita_pct)}\\n` +\n  `${data.var_despesa_pct > 0 ? '📈' : '📉'} Despesas: ${formatPercent(data.var_despesa_pct)}`;\n\nreturn {\n  response_text: response,\n  query_type: 'calculation',\n  cost_usd: 0, // GRÁTIS! Sem LLM!\n  model_used: 'direct_sql',\n  latency_ms: Date.now() - new Date($input.item.json.timestamp).getTime(),\n  phone: $input.item.json.phone,\n  cnpj: $input.item.json.cnpj,\n  conversation_id: $input.item.json.conversation_id\n};"
      },
      "id": "format-calculation-response",
      "name": "Function - Formatar Resposta Cálculo",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        2000,
        300
      ]
    },
    {
      "parameters": {
        "functionCode": "// Query complexa: redirecionar para workflow v2 (com LLM)\nreturn {\n  redirect_to: 'whatsapp-bot-v2',\n  phone: $json.phone,\n  cnpj: $json.cnpj,\n  message: $json.message,\n  conversation_id: $json.conversation_id,\n  query_type: 'complex'\n};"
      },
      "id": "redirect-complex",
      "name": "Function - Redirecionar para v2 (LLM)",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        1780,
        400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n.angrax.com.br/webhook/whatsapp-bot-v2",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "data",
              "value": "={{ $json }}"
            }
          ]
        },
        "options": {}
      },
      "id": "call-v2-workflow",
      "name": "HTTP - Call Workflow v2 (LLM)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        2000,
        400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.EVO_API_URL }}/message/sendText/iFinance",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $json.phone }}"
            },
            {
              "name": "text",
              "value": "={{ $json.response_text }}"
            }
          ]
        },
        "options": {}
      },
      "id": "send-whatsapp",
      "name": "HTTP - Enviar WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        2220,
        300
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "OeWaimPjLFpTWr64",
          "name": "Evolution API Key"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO conversation_context (conversation_id, message_role, message_content, model_used, llm_cost_usd, metadata) VALUES ('{{ $json.conversation_id }}', 'user', '{{ $json.message }}', 'n/a', 0, '{\"query_type\": \"{{ $json.query_type }}\"}') RETURNING id;",
        "additionalFields": {}
      },
      "id": "save-user-message",
      "name": "PostgreSQL - Salvar Mensagem Usuário",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        2440,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "eWdwRJii0F6jKHdU",
          "name": "Supabase PostgreSQL Finance"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO conversation_context (conversation_id, message_role, message_content, model_used, llm_cost_usd, metadata) VALUES ('{{ $json.conversation_id }}', 'assistant', '{{ $json.response_text }}', '{{ $json.model_used }}', {{ $json.cost_usd }}, '{\"query_type\": \"{{ $json.query_type }}\", \"latency_ms\": {{ $json.latency_ms }}}');",
        "additionalFields": {}
      },
      "id": "save-bot-response",
      "name": "PostgreSQL - Salvar Resposta Bot",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        2660,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "eWdwRJii0F6jKHdU",
          "name": "Supabase PostgreSQL Finance"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO conversation_analytics (conversation_id, total_messages, total_cost_usd, avg_response_time_ms, last_interaction_at) VALUES ('{{ $json.conversation_id }}', 2, {{ $json.cost_usd }}, {{ $json.latency_ms }}, NOW()) ON CONFLICT (conversation_id) DO UPDATE SET total_messages = conversation_analytics.total_messages + 2, total_cost_usd = conversation_analytics.total_cost_usd + {{ $json.cost_usd }}, avg_response_time_ms = (conversation_analytics.avg_response_time_ms * conversation_analytics.total_messages + {{ $json.latency_ms }}) / (conversation_analytics.total_messages + 1), last_interaction_at = NOW();",
        "additionalFields": {}
      },
      "id": "update-analytics",
      "name": "PostgreSQL - Atualizar Analytics",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        2880,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "eWdwRJii0F6jKHdU",
          "name": "Supabase PostgreSQL Finance"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: true, message: 'Resposta enviada', cost: $json.cost_usd, model: $json.model_used } }}"
      },
      "id": "webhook-response",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        3100,
        300
      ]
    }
  ],
  "connections": {
    "Webhook - Mensagem Recebida": {
      "main": [
        [
          {
            "node": "Function - Parse Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Function - Parse Input": {
      "main": [
        [
          {
            "node": "PostgreSQL - Buscar Conversação",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PostgreSQL - Buscar Conversação": {
      "main": [
        [
          {
            "node": "If - Conversação Existe?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If - Conversação Existe?": {
      "main": [
        [
          {
            "node": "PostgreSQL - Criar Conversação",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Function - Detectar Tipo de Pergunta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PostgreSQL - Criar Conversação": {
      "main": [
        [
          {
            "node": "Function - Detectar Tipo de Pergunta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Function - Detectar Tipo de Pergunta": {
      "main": [
        [
          {
            "node": "Switch - Tipo de Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch - Tipo de Query": {
      "main": [
        [
          {
            "node": "PostgreSQL - Query Simples",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "PostgreSQL - Query Cálculo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Function - Redirecionar para v2 (LLM)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PostgreSQL - Query Simples": {
      "main": [
        [
          {
            "node": "Function - Formatar Resposta Simples",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Function - Formatar Resposta Simples": {
      "main": [
        [
          {
            "node": "HTTP - Enviar WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PostgreSQL - Query Cálculo": {
      "main": [
        [
          {
            "node": "Function - Formatar Resposta Cálculo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Function - Formatar Resposta Cálculo": {
      "main": [
        [
          {
            "node": "HTTP - Enviar WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Function - Redirecionar para v2 (LLM)": {
      "main": [
        [
          {
            "node": "HTTP - Call Workflow v2 (LLM)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - Call Workflow v2 (LLM)": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - Enviar WhatsApp": {
      "main": [
        [
          {
            "node": "PostgreSQL - Salvar Mensagem Usuário",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PostgreSQL - Salvar Mensagem Usuário": {
      "main": [
        [
          {
            "node": "PostgreSQL - Salvar Resposta Bot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PostgreSQL - Salvar Resposta Bot": {
      "main": [
        [
          {
            "node": "PostgreSQL - Atualizar Analytics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PostgreSQL - Atualizar Analytics": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null
}
